.unorderedlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  .column2 {
    float: left;
    width: 50%;
    padding: 5px;
  }
  .header{
    margin-left: auto;
    margin-right: auto;
    width: 80%; 
  }
.tableau{
  margin-left: auto;
    margin-right: auto;
  width: 80%;
  height: 60%;
}
.footer{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: block;
  color: black;
  background-color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration:solid;
  font-family: monospace;
}
.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}
body {
  background-image: url('../images/Space.jpeg');
  size: 1000px;
}